language: android

jdk:
  - oraclejdk8

before_install:
  - echo y | android update sdk --no-ui --all --filter "tools"
  - echo y | android update sdk --no-ui --all --filter "platform-tools"
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"

script:
  - ./gradlew build --no-daemon

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "YpBKpOdLkn4kcnzTUcOdupPV8zEDpUGLGkY5Z9mAtnZibOWnX+6MuQExkmi4Bd+uAHPB6QKP4AELiGv9udjE1UMtVUwZpb0hZ5XTo+kV4mOEvIS6FJAXwEqelyuqrtjo/QqnlWHmA579y2UBqFLzv1coiapKTNz3kwbUd9oMCr4="
    - secure: "fAdMvu5VpVXEelBwGcIMMLg7zTol2DDrU7e+XKP8NTJYw0A7HOdDl5KB3uP2Lgb8lGMEIJ3Xin5AQNxuBmyQ4zP43Xjixs/rW/LqNdctvY8RmuI6PFJKm0QGsDni62iOKqqf681tjB3tDmRymEU14WQ5y81GGwDQ8GmqmI4U7h4="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
