::-webkit-selection,
::-moz-selection,
::selection {
	background-color: #0099cc;
	color: #fff;
}

html, body {
	height: 100%;
	background-color: #f9f9f9;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #222;
	font: 14px/19px Roboto, sans-serif;
	font-weight: 400;
	letter-spacing: .1;
	margin-top: 20px;
}

.hero-unit {
    padding: 15px 30px;
}
.hero-unit h1 {
    margin-bottom: 5px;
    font-weight: 200;
}
.hero-unit p {
    margin: 0;
}


.test-name, .test-name small {
  font-weight: 200;
}
.test-name.pass {
  border-bottom: 2px solid #89c989;
}
.test-name.fail {
  border-bottom: 2px solid #c98989;
}


.exception .stack-trace{
  margin-left: 3em;
}


.birds-eye {
    width: 100%;
}
.birds-eye .device th {
    text-align: left;
    padding: 10px 0 5px 2px;
}
.birds-eye .result td {
    padding: 5px 0;
    cursor: pointer;
}
.birds-eye .test.pass:hover {
  background-color: #99c999;
}
.birds-eye .test.fail:hover {
  background-color: #c99999;
}

.test.pass {
    background-color: #b9e9b9;
}
.test.fail {
    background-color: #e9b9b9;
}