body {
  background: #ffffff url('bedge_grunge.png') fixed repeat;
  margin-top: 40px;
  color: #222;
  font: 14px/19px Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: .1
}

code, pre {
  color: #444;
  background: none;
  border: none;
}
pre {
  font-size: 11px;
}
code {
  white-space: nowrap;
}

.side h1 {
  font-size: 100px;
  line-height: 110px;
  font-weight: 200;
  margin-bottom: 30px;
}
.side h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 60px;
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
}
.main h3 {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 20px;
}
.main h4 {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: #555;
}
.main h4:first-child, .main h3:first-child {
    padding-top: 0;
}
.main h5 {
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

#ribbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

a:link, a:visited, a:active, a:hover {
    color: #4183C4;
}
a:hover {
    text-decoration: underline;
}

@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
    .side {
        text-align: right;
        position: fixed;
    }
    .side ul {
        margin-bottom: 60px;
    }
    .main {
        padding-top: 28px;
        padding-bottom: 100px;
    }
    .main-inner {
        margin-left: 25px;
    }

    #ribbon img {
        position: fixed;
    }
}